<h2 class="mb-4">Novo vprašanje</h2>
<a href="/questions" class="btn btn-secondary mb-3">← Nazaj</a>
<form method="POST" action="/questions/create" class="card p-4 shadow-sm">
  <div class="mb-3">
    <button onclick="history.back()" class="btn btn-secondary mb-3">
      Nazaj
    </button>
    <label>Naslov</label>
    <input type="text" name="title" class="form-control" required />
  </div>

  <div class="mb-3">
    <label>Opis</label>
    <textarea name="description" class="form-control" required></textarea>
  </div>

  <button class="btn btn-success">Objavi vprašanje</button>
</form>